<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
          background-image: url('home.jpg');
        }
    </style>

</head>
<body>
    <h1>Image to text</h1>
    <form action="/submit" method="POST">
        <label for="fname">URL:</label>
        <input type="name " name="URL"  size="70">

        <input type="submit">
    </form>

    
</body>
</html>